<fieldset>
  <legend>Formulario #02</legend>
  <div class="user">
    <label>
      <span>Nombre:</span>
      <input type="text" name="name" />
    </label>
  </div>
  <div class="login">
    <label>
      <span>Contraseña:</span>
      <input type="password" name="password" />
    </label>
  </div>
  <div class="login">
    <label>
      <span>Contraseña:</span>
      <input type="password" name="confirmpass" />
    </label>
  </div>
  <div class="login">
    <label>
      <span>Selecciona tipo de cuenta</span>
      <select name="select">
        <option value="1">Personal</option>
        <option value="2">Pro</option>
        <option value="3">Negocios</option>
      </select>
    </label>
  </div>
  <button type="submit">Siguiente</button>
</fieldset>
